<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div class="container">
    <h4>Product imformation</h4>
    <table class="table">
        <thread>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Description</th>
                <th>Unit Price</th>
            </tr>
        </thread>
        <tbody>
            {% for product in products %}
            <tr>
                <input type="hidden" value="{{ product.id }}">
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.unitPrice }}</td>
                <td>
                    <a href="/product_admin/edit_product/{{ product.id }}">Edit</a>
                    <a href="/product_admin/delete_product/{{ product.id }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button onclick="location.href='/product_admin/edit_product/0'" class="btn btn-primary">
        Add product
    </button>
</div>